/*
CSS Reset
 */


body, header, nav, main, footer, img, h1, h2, h3, ul, li, section, article, aside{
    margin: 0;
    padding: 0;
    border: 0;
}
body, header, nav, main, footer, img, h1, h2, h3 {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
}
/*
Headings
 */


header p {
    margin: 5px;
    text-align: left;
    font-size: 25px;
    color:#879166;
}


h1 {
    text-align: left;
}


h1, h2, h3, h4, h5, h6 {
    color: #32623b;
}

body, nav, header, main, footer {
    margin: 20px;
}

body {
    background-color: #fefae0;
    /*font-size: 25px;*/
    text-align: left;
}

b {
    color: #dda15e;
}

body a {
    color: #606c38;
}

main {
    text-align: center;
}




/*
main h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.hobby-list {
    padding: 20px;
    font-size: 30px;
    list-style-type: circle;
    list-style: inside;
    text-align: center;
}
*/

nav {
    text-decoration: none;
    padding-top: 50px;
}

nav ul {
    display: block;
    background-color: #635d5c;
    border-radius: 17px;
}




nav li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav li a:hover {
    color: #bfbca6;
}

footer {
    font-size: small;
    text-align: center;
    color: grey;
}

.green-highlight {
    display: block;
    padding: 10px;
    background-color: #b4c29f;
}

#email-form {
    background-color: #f2eee6;
    margin: auto 40px;
}

figcaption {
    font-size: small;
    color: #92969c;
}

#social_logo{
    height: 2px;
    width: 4px;
}

/*
Style rules for mobile viewport
 */
header {
    /*position: -webkit-sticky; Causes an error, commented out*/
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #fefae0;
    height: 110px;
}

#mainHeader {
    opacity: 0;
    transition: opacity 1s ease-out;
}

header h1 {
    font-size: 30px;

}
header p {
    font-size: 19px;
}

.header-img {
    float: right;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

nav li {
    list-style-type: none;
    padding: 7px 30px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

nav li:last-child {
    border-bottom: none;
}


main {
    padding-top: 10px;
    font-size: 20px;
}

main h2 {
     font-size: 30px;
 }

aside {
    display: block;
    padding: 10px;
    box-shadow: #c97961 1px 0 10px;
    color: #4f4d4d;
}

.simple-style-list {
    padding: 15px;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}


/*
Show mobile class, hide tablet-desktop class
 */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/*
Media Query for Tablet Viewport
 */

@media screen and (min-width: 630px) {
    .grid {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        padding-bottom: 50px;
    }


    header {
        /*position: -webkit-sticky; Causes an error, commented out*/
        position: static;
        padding: 10px;
        height: 105px;
    }

    header h1 {
       font-size: 40px;
    }

    header p {
        font-size: 25px;
    }

    .header-img {
        float: right;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        object-fit: cover;
    }

    main {
        padding-top: 10px;
    }

    main p {
        font-size: 20px;
    }

    nav {
        text-align: center;
    }
    nav li {
        display: inline-block;
        list-style-type: none;
        padding: 15px 30px;
        border-bottom: none;
    }

    main h2 {
        font-size: 30px;
    }

    main h3 {
        font-size: 25px;
    }

    .simple-style-list {
        padding: 15px;
        font-size: 25px;
    }


    /* Show tablet-desktop class, hide mobile class*/
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }


    footer {
        clear: left;
        padding: 100px;
    }

    #email-form {
        display: block;
        background-color: #f2eee6;
        margin: auto 30px;
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
        padding-bottom: 50px;
    }

    header {
        /*position: -webkit-sticky; Causes an error, commented out*/
        position: static;
        padding: 20px;
        height: 135px;
    }

    header h1 {
        font-size: 55px;
    }

    header p {
        font-size: 30px;
    }

    .header-img {
        float: right;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    main {
        padding-top: 10px;
    }

    main h3 {
        font-size: 30px;
    }

    main p {
        font-size: 30px;
    }

    nav {
        text-align: center;
    }
    nav li {
        display: inline-block;
        list-style-type: none;
        padding: 25px 50px;
        border-bottom: none;
    }

    nav li a {
       font-size: 30px;
    }

    main h2 {
        font-size: 40px;
    }

    .simple-style-list {
        padding: 15px;
        font-size: 28px;
    }

    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }


    footer {
        clear: left;
        padding: 10px;
    }
}